html, body, ul{
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Lato';
  color: #eeeeee;
}
body *{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.site-header{
  height: 90vh;
  background: url(../images/Rectangle.svg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.site-header .site-navigation{
  height: 15%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.site-navigation .site-logo{
  color: #eeeeee;
  font-size: 4rem;
}
.site-navigation ul{
  list-style: none;
  display:flex;
  justify-content: space-around;
}
.site-navigation ul li{
  margin: 0 1rem 0 1rem;
}
.site-header .site-navigation ul li a{
  text-decoration: none;
  font-size: 1.5rem;
  color: #eeeeee;
  text-transform: uppercase;
  font-weight: 300;
}
.site-header .site-navigation ul li a:hover{
  text-decoration-line: line-through;
}
.nav-icon{
  display: none;
}
.hero{
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
}
.text-column{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 50%;
  align-items: flex-end;
}
.hero-heading{
  font-size: 5rem;
  align-self: flex-end;
  width: 60%;
  margin: 4rem 0 0 0;
}
.new-line{
  display: inline-block;
}
.hero-description{
  font-size: 1.6rem;
  width: 60%;
}
.hero-btn{
  border: 0.1rem solid transparent;
  align-self: center;
  padding: 1rem 3.5rem 1rem 3.5rem;
  border-radius: 2.5rem;
  font-size: 1.4rem;
  color: #e83631;
  margin-top: 5rem;
  background-color: #eeeeee;
  margin-left: 3rem;
}
.hero-btn:hover{
  cursor: pointer;
}
.hero-btn:focus{
  outline: none;
  box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.8);
}
.image-column{
  display: flex;
  flex-direction: column;
}
.image-column img{
  max-width: 70%;
  height: auto;
}
.app-features{
  padding-bottom: 12.5rem;
  border-bottom: 0.1rem solid #ccc;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 4rem 4rem 4rem;
}
.image-container{
  padding: 0;
  margin: 0;
  flex-basis: 40%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.image-container img{
  max-width: 95%;
  height: auto;
  display: block;
}
.feature-description{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-basis: 50%;
}
.feature-description-heading{
    text-align: left;
    font-size: 6.1rem;
    color: rgb(54, 54, 54);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.9728859599124,0,0,0.98600411324043,0,0);
    -webkit-transform: matrix( 0.9728859599124,0,0,0.98600411324043,0,0);
    -ms-transform: matrix( 0.9728859599124,0,0,0.98600411324043,0,0);
}
.feature-description-text {
  font-size: 1.6rem;
  color: rgb(128, 128, 128);
  line-height: 1.778;
  text-align: left;
}
.red-dot{
    font-size: 6.1rem;
    font-family: "Lato";
    color: #e83631; 
}
.users-feedback{
  margin: 12.5rem 0 12.5rem 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.users-feedback-heading{
  text-align: center;
  font-size: 6.1rem;
  color: rgb(54, 54, 54);
  line-height: 1.2;
  -moz-transform: matrix( 0.9728859599124,0,0,0.98600411324043,0,0);
  -webkit-transform: matrix( 0.9728859599124,0,0,0.98600411324043,0,0);
  -ms-transform: matrix( 0.9728859599124,0,0,0.98600411324043,0,0);
  margin-bottom: 10rem;
}
.users-feedback-opinion-box{
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  align-items: flex-start;
}
.users-feedback-opinion{
  color: rgb(128, 128, 128);
  font-size: 1.6rem;
  font-style: italic;
}
.users-feedback-site{
  color: #e83631;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.556;
  margin-bottom:6rem;
}
.users-feedback-avatar{
  width: 6.2rem;
  height: 6.2rem;
}
.users-feedback-person{
  display: flex;
  justify-content: space-around;
}
.users-feedback-name{
    font-size: 1.8rem;
    color: rgb(54, 54, 54);
    line-height: 1.778;
    text-align: left;
    -moz-transform: matrix( 1.00051042596764,0,0,1,0,0);
    -webkit-transform: matrix( 1.00051042596764,0,0,1,0,0);
    -ms-transform: matrix( 1.00051042596764,0,0,1,0,0);
    margin: 0 0 0 1rem;  
}
.users-feedback-position{
    font-size: 1.6rem;
    color: rgb(102, 115, 134);
    line-height: 1.75;
    text-align: left;
    -moz-transform: matrix( 1.00051042596764,0,0,1,0,0);
    -webkit-transform: matrix( 1.00051042596764,0,0,1,0,0);
    -ms-transform: matrix( 1.00051042596764,0,0,1,0,0);
    margin: 0 0 0 1rem;
}
.app-functions{
  margin: 20rem 0 20rem 0;
  display: flex;
  justify-content: center;
}
.app-functions-img{
  max-width: 100%;
  height: auto;
  display: inline-block;
  position: absolute;
}
.app-functions-background{
  margin-top: 10rem;
  background: url(../images/rectangle.png);
  width: 100vw;
  height: 50rem;
}
.app-functions-row{
  display: flex;
  height: 25rem;
}
.app-functions-column-left{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-right: 5rem;
}
.app-functions-column-left h3{
  font-size: 2.4rem;
  color: rgb(255, 255, 255);
  line-height: 1.4;
  margin: 0;
}
.app-functions-column-left p{
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.75;
  margin: 0.2rem;
  width: 50%;
}
.app-functions-column-left img{
  align-self: flex-end;
  margin-right: 20rem;
}
.app-functions-column-right{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-left: 5rem;
}
.app-functions-column-right h3{
  font-size: 2.4rem;
  color: rgb(255, 255, 255);
  line-height: 1.4;
  margin: 0;
}
.app-functions-column-right p{
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.75;
  margin: 0.2rem;
  width: 50%;
}
.app-functions-column-right img{
  align-self: flex-start;
  margin-left: 20rem;
}
.subscribe{
  margin: 4rem 0 4rem 0;
  border-bottom: 0.1rem solid #ccc;
  padding-bottom: 12rem;
}
.subscribe-heading{
  text-align: center;
  font-size: 6.1rem;
  color: rgb(54, 54, 54);
  line-height: 1.2;
  -moz-transform: matrix( 0.9728859599124,0,0,0.98600411324043,0,0);
  -webkit-transform: matrix( 0.9728859599124,0,0,0.98600411324043,0,0);
  -ms-transform: matrix( 0.9728859599124,0,0,0.98600411324043,0,0);
}
.subscribe-text{
  font-size: 1.6rem;
  color: rgb(128, 128, 128);
  line-height: 1.778;
  text-align: center; 
}
.input-wrapper{
  display: flex;
  justify-content: center;
}
.input-wrapper input[type="email"]{
  background-color: rgb(248, 248, 248);
  border: 0.1rem solid transparent;
  border-radius: 2.5rem;
  padding: 1rem 35rem 1rem 2rem;
  margin-top: 6rem;
}
.input-wrapper input[type="email"]:focus{
  outline: none;
}
.subscribe-btn{
  background-image: -moz-linear-gradient( 90deg, rgb(235,64,44) 0%, rgb(217,6,71) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(235,64,44) 0%, rgb(217,6,71) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(235,64,44) 0%, rgb(217,6,71) 100%);
  box-shadow: 0px 10px 30px 0px rgba(223, 27, 61, 0.3);
  border: 0.1rem solid transparent;
  border-radius: 2.5rem;
  color: #eee;
  padding: 1rem 4rem 1rem 4rem;
  position: absolute;
  margin: 6rem 0 0 20rem; 
}
.download{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.download-heading{
  text-align: center;
  font-size: 6.1rem;
  color: rgb(54, 54, 54);
  line-height: 1.2;
  -moz-transform: matrix( 0.9728859599124,0,0,0.98600411324043,0,0);
  -webkit-transform: matrix( 0.9728859599124,0,0,0.98600411324043,0,0);
  -ms-transform: matrix( 0.9728859599124,0,0,0.98600411324043,0,0);
  margin: 1rem;
}
.download-text{
  font-size: 1.6rem;
  color: rgb(128, 128, 128);
  line-height: 1.778;
  text-align: center;
}
.app-icon{
  align-self: center;
}
.app-store{
  margin: 3rem;
  align-self: center;
}
.site-footer{
  margin-top: 4rem;
  border-top: 0.1rem solid #ccc;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 6rem;
}
.footer-nav{
  display: flex;
}
.footer-nav li{
  padding: 0 0 0 3rem;
}
.footer-nav li a{
  font-size: 1.2rem;
  color: rgb(54, 54, 54);
  text-transform: uppercase;
  font-weight: bold;
}
.site-footer select{
  border: 0.1rem solid transparent;
  background-color: rgb(248, 248, 248);
  border-radius: 2.5rem;
  padding: 1rem 2rem 1rem 2rem;
  margin-right: 4rem;
}
.site-footer select:focus{
  outline: none;
}
/*********************************************************
/* Responsive styles */
/*Ipad Pro */
@media (max-width: 1024px) and (min-width: 971px){
  .site-header .site-navigation ul li a {
    font-size: 1.8rem;
}
  .image-column img {
    max-width: 100%;
    height: auto;
  }
  .hero-description {
    font-size: 2rem;
  }
  .hero-btn{
    margin-left: 10rem;
    font-size: 2rem;
  }
  .row{
    margin: 0;
  }
  .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .feature-description-text {
    font-size: 2.2rem;
  }
  .users-feedback-opinion {
    font-size: 2.5rem;
  }
  .app-functions-column-left p {
    font-size: 1.8rem;
  }
  .app-functions-column-right p {
    font-size: 1.8rem;
  }
  .subscribe-text {
    font-size: 2rem;
  }
  .input-wrapper input[type="email"] {
    padding: 1rem 35rem 1rem 2rem;
    margin-top: 6rem;
    font-size: 2rem;
  }
  .subscribe-btn{
    margin: 6rem 0 0 23rem;
    font-size: 2rem;
  }
  .download-text{
    font-size: 2rem;
  }
  .footer-nav li a {
    font-size: 1.8rem;
    color: rgb(54, 54, 54);
    text-transform: uppercase;
    font-weight: bold;
  }
  .site-footer select{
    font-size: 1.8rem;
  }
}
/*********************************************************
****************** Max 970px Ipad etc *******************/
@media (max-width: 970px) {
  .site-header{
    height: 70vh;
  }
  .nav-icon{
    display: flex;
    flex-direction: column;
  }
  .icon-line{
    border: 0.1rem solid transparent;
    border-radius: 2rem;
    height: 0.3rem;
    margin-bottom: 0.4rem;
    width: 2.5rem;
    background: #fff;
  }
  .site-header .site-navigation{
    width: 100%;
    justify-content: space-around;
    position: relative;
  }
  .site-navigation ul {
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 0;
    transition: transform ease-out 250ms;
    height: 40rem;
    margin-top: 25rem;
    z-index: 1;
    background: #eeeeee;
    position: absolute;
  }
  .site-navigation ul li{
    margin: 0 1rem 0 1rem;
  }
  .site-header .site-navigation ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: #e83631;
    text-transform: uppercase;
    font-weight: 300;
  }
  .image-column {
    display: none;
  }
  .text-column {
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .hero-heading {
    font-size: 5rem;
    width: 100%;
    text-align: center;
  }
  .hero-description {
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
  }
  .hero-btn{
    margin-left: 0;
  }
  .row{
    margin: 0;
    padding: 0 5rem 0 5rem;
  }
  .image-container{
    display: none;
  }
  .feature-description{
    display: flex;
    flex-basis: 100%;
    align-items: center;
  }
  .feature-description-text{
    font-size: 1.8rem;
  }
  .users-feedback-opinion{
    font-size: 2rem;
  }
  .app-functions-img{
    display: none;
  }
  .app-functions-column-left{
    padding: 0 0 0 10rem;
  }
  .app-functions-column-right{
    padding: 0 10rem 0 0;
  }
  .app-functions-column-left img, .app-functions-column-right img {
    align-self: center;
    padding: 1rem;
    margin-right: 0;
    margin-left: 0;
  }
  .subscribe-text, .download-text{
    font-size: 2rem;
    padding: 0 5rem 0 5rem;
  }
  .input-wrapper input[type="email"]{
    font-size: 2rem;
    padding: 1rem 25rem 1rem 2rem;
  }
  .subscribe-btn{
    font-size: 2rem;
    padding: 1rem 3rem 1rem 4rem;
  }
  .footer-nav{
    display: none;
  }
  .site-footer select {
    font-size: 1.4rem;
  }
}
/*********************************************************
**************** Max 699px, min 500px ******************/
@media (max-width: 699px) and (min-width: 500px) {
  .site-header{
    height: 85vh;
  }
  .feature-description-heading, .subscribe-heading, .users-feedback-heading, .download-heading{
    font-size: 5rem;
  }
  .app-functions-column-left{
    padding: 0 0 0 2rem;
  }
  .app-functions-column-right{
    padding: 0 5rem 0 0;
  }
  .app-functions-column-left img, .app-functions-column-right img {
    align-self: center;
    padding: 1rem;
    margin-right: 0;
    margin-left: 0;
  }
  .app-functions-column-right p, .app-functions-column-left p{
    width: 90%;
  }
  .subscribe-text, .download-text{
    font-size: 2rem;
    padding: 0 5rem 0 5rem;
  }
  .input-wrapper input[type="email"]{
    font-size: 2rem;
    padding: 1rem 15rem 1rem 2rem;
  }
  .subscribe-btn{
    font-size: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    margin: 6rem 0 0 15rem;
  }
  .footer-nav li a {
    font-size: 1.4rem;
  }
  .site-footer select {
    font-size: 1.4rem;
  }  
}
/*******************************************************
****************** 499px and lower ********************/
@media (max-width: 499px) {
  .hero{
    margin-top: 2rem;
  }
  .site-header{
    height: 85vh;
  }
  .site-header .site-navigation ul{
    margin-top: 20rem;
    height: 30rem;
    justify-content: space-around;
    background: #eeeeee;
  }
  .site-header .site-navigation ul li a{
    color: #e83631;
  }
  .hero-description {
    font-size: 1.6rem;
    width: 50%;
    text-align: center;
  }
  .hero-btn{
    font-size: 1.6rem;
  }
  .feature-description-heading, .subscribe-heading, .users-feedback-heading, .download-heading{
    font-size: 4rem;
  }
  .users-feedback-heading{
    margin-bottom: 1rem;
  }
  .input-wrapper input[type="email"] {
    font-size: 1.6rem;
    padding: 1rem 6rem 1rem 2rem;
  }
  .subscribe-btn {
    font-size: 1.6rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 6rem 0 0 10rem;
  }
  .site-footer{
    flex-wrap: wrap;
    justify-content: center;
  }
  .users-feedback{
    margin: 5rem 0 5rem 0;
  }
  .users-feedback-opinion-box{
    display: none;
  }
  .highlighted{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 100%;
  }
  .app-functions {
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
  }
  .app-functions-row{
    flex-wrap: wrap;
    height: 20rem;
  }
  .app-functions-column-left {
    padding: 0px 0 0 5rem;
  }
  .app-functions-column-right {
    padding: 0 5rem 0 0;
  }
  .app-functions-column-left p, .app-functions-column-right p{
    display: none;
  }
