.app-feature{
  margin: 0 2rem 2rem 2rem;

  @include mQ($ipad){
    margin: 0 5rem 2rem 5rem;
  }

  &__title{
    color: $dark-grey;
    font-size: 1.9rem;
    width: 100%;
  }

  &__text{
    color: $grey;
    line-height: 1.5;
  }

  &__image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.red-dot{
  color: $sparkling-red;
  font-size: 2rem;
}