.app-functions{
  background: linear-gradient(180deg, $joker-smile 20%, $heavy-orange 80%);
  padding: 2rem 0;
  position: relative;

  &__col{
    flex-basis: 100%;

    @include mQ($ipad){
      flex-basis: 50%;
    }
    @include mQ($ipad-pro){
      flex: 1 1;
      display: flex;
      flex-direction: column;
      justify-content: center
    }
  }

  &__box{
    display: flex;

    &__header{
      margin: 1rem 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      min-height: 10.5rem;

      &--reverse{
        order: 2;
        text-align: left;
        align-items: flex-start;
      }
    }
  }

  &__title{
    color: $white;
    font-size: 1.5rem;
    margin: 0;
  }

  &__icon{
    max-width: 100%;
    height: 2.5rem;
    display: block;
    margin: 0 1rem;

  }

  &__image{
    max-width: 100%;
    height: auto;
  }

  &__smartphone{
    display: none;

    @include mQ($ipad-pro){
      flex-basis: 30%;
      display: flex;
      
    }
  }

  &__description{
    color: $white-lighter;
    max-width: 90%;
  }
}