.site-header{
  height: 80vh;
  background-image: url("../images/Rectangle.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  @include mQ($ipad){
    height: 65vh;
  }

  @include mQ($laptop-MDPI){
    height: 80vh;
  }

  @include mQ($laptop-HDPI){
    height: 90vh;
  }
}