.hero{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: $white;
  flex-direction: column;
  opacity: 1;
  animation: slideRight ease-out 0.5s;

  @include mQ($ipad){
    margin: 4rem 0 0 0;
    flex-direction: row;
    align-items: flex-start;
  }

  &__col{
    display: flex;
    flex-basis: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;

    @include mQ($ipad){
      flex-basis: 50%;
    }
  }


  &__heading{
    font-size: 2.5rem;
    margin: 1.75rem 0;
    font-weight: 700;
  }

  &__description{
    width: 60%;
    margin: 0.5rem;
  }

  &__btn{
    border: 0.1rem solid transparent;
    align-self: center;
    padding: 0.5rem 3rem;
    border-radius: 2.5rem;
    font-size: 1.1rem;
    color: $sparkling-red;
    margin-top: 1rem;
    background-color: $super-silver;
  }

  &__image{
    display: none;

    @include mQ($ipad){
      display: block;
      max-width: 300px;
    }
  }



}

.new-line {
  display: flex;
}


@keyframes slideRight {
	0% {
		transform: translateX(-100%);
	}
	50%{
		transform: translateX(20%);
	}
	65%{
		transform: translateX(10%);
	}			
	100% {
		transform: translateX(0%);
	}		
}