.hero{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: $white;
  flex-direction: column;

  &__heading{
    font-size: 2.5rem;
    text-align: center;
    margin: 1.75rem 0;
    font-width: 700;
  }

  &__description{
    padding: 1rem 2.5rem;
    margin: auto;
  }

  &__btn{
    border: 0.1rem solid transparent;
    align-self: center;
    padding: 0.55rem 3rem;
    border-radius: 2.5rem;
    font-size: 1.1rem;
    color: $sparkling-red;
    margin-top: 1rem;
    background-color: $super-silver;
  }
}

.new-line {
  display: inline-flex;
}

