.newsletter{
  margin: 4rem 2rem;
  display: flex; 
  flex-direction: column;
  align-items: center;

  @include mQ($phablet){
    margin: 2rem 4rem 5rem 4rem;
  }

  @include mQ($ipad){
    margin: 2rem 5rem 5rem 5rem;
  }

  &__title{
    font-size: 1.9rem;
    color: $dark-grey;

    @include mQ($ipad-pro){
      font-size: 2.75rem;
    }
  }

  &__input{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    width: 100%;

    @include mQ($ipad){
      margin: auto;
      width: 80%;
    }

    @include mQ($ipad-pro){
      width: 60%;
    }

    input{
      border: 0.1rem solid transparent;
      border-radius: 1.1rem;
      background: $zhen-pearl;
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      height: 2.5rem;
      width: 100%;
    }
  }

  &__text{
    color: $grey;
    padding: 0.25rem;
    line-height: 1.5;

    @include mQ($ipad){
      max-width: 90%;
    }
  }

  &__btn{
    position: absolute;
    border: 0.1rem solid transparent;
    border-radius: 1.1rem;
    height: 2.5rem;
    right: 0;
    background: linear-gradient(180deg, $joker-smile 20%, $heavy-orange 80%);
    color: $white;
  }
}