$main-font: 'Open Sans', sans-serif;

$joker-smile: #d90646;
$sparkling-red: #e83631;
$heavy-orange: #eb402c;
$super-silver: #eeeeee;
$zhen-pearl: #f8f8f8;
$white: #ffffff;
$dark-grey: #363636;
$grey: #808080;

$font-stack: 'Open Sans', sans-serif;